.buttonsContainer {
    margin: 20px -10px 0 -10px;
    display: flex;
}

.buttonsContainer > button {
    margin: 0 10px;
    width: 84px;
}


.clock {
    cursor: context-menu;
}

.watch {
}

.watch strong {
}

.more {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
}